<!-- views/index.ejs -->
<!DOCTYPE html>
<html>

<head>
  <title>PeopleGrove</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">

  <style>
    body {
      margin: 0 !important;
      background: #f3f3f3;
    }

    .mdc-toolbar {
      background: #32ceff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .pg-container {
      display: flex;
      flex-direction: row;
      margin: 20px 100px;
    }

    .profile-img img {
      width: 35px;
      height: 35px;
      border-radius: 20px;
    }

    .pg-container .mdc-card {
      flex: 25;
      margin: 10px;
      background: #ffffff;
    }

    .pg-container .pg-raised {
      background: #222233;
      color: #ffffff;
    }
  </style>
</head>

<body>

  <header class="mdc-toolbar">
    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section">
        <span class="mdc-toolbar__title">App</span>
      </section>
    </div>
  </header>

  <div class="pg-container">
    <% for (var i = 0; i < cards.length; i++) { %>
      <div class="mdc-card">
        <section class="mdc-card__primary">

          <i class="material-icons">
            <%= cards[i].icon %>
          </i>
          <h1 class="mdc-card__title mdc-card__title--large">
            <%= cards[i].title %>
          </h1>

          <h2 class="mdc-card__subtitle">
            <%= cards[i].subtitle %>
          </h2>
        </section>
        <section class="mdc-card__supporting-text">
          <%= cards[i].description %>
        </section>
        <section class="mdc-card__actions">
          <button class="mdc-button mdc-button--theme-dark mdc-button--compact mdc-card__action">
            <a class="mdc-button">
              N/A
            </a>
          </button>
          <a class="mdc-button mdc-button--raised pg-raised" href="<%= cards[i].url %>">
            GO
          </a>
        </section>
      </div>

      <% } %>

  </div>

  <div class="pg-container">
    <div class="mdl-card__actions">
      <% if (user) { %>
        <a href="/api/users/<%=user._id%>" class="mdc-button pg-raised">
          <i class="material-icons mdc-button__icon">cloud_off</i>
          API
        </a>
        <a href="/auth/logout" class="mdc-button pg-raised">
          <i class="material-icons mdc-button__icon">apps</i>
          Logout
        </a>
        <% } else { %>
          <p>Login with: </p>
          <a class="mdc-button pg-raised" href="/auth/google">
            <i class="material-icons mdc-button__icon">favorite</i>
            Google
          </a>
          <% } %>
    </div>
  </div>
</body>

</html>